<div>

  <md-table-container style="width: 80%">
    <table md-table md-promise="promise">
      <thead md-head md-order="'type'" md-on-reorder="update">
        <tr md-row>
          <th md-column md-order-by="date">Date</th>
          <th md-column>Type</th>
          <th md-column>Amount</th>
          <th md-column>Quantity</th>
          <th md-column>Remove</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="coin" md-auto-select data-ng-repeat="coin in money">
          <td md-cell>{{ coin.date | date : "dd/MM/yyyy HH:mm:ss"}}</td>
          <td md-cell>{{ coin.type }}</td>
          <td md-cell>{{ coin.amount }}</td>
          <td md-cell>{{ coin.quantity }}</td>
          <td md-cell><md-button ng-click="remove(coin._id)">remove</md-button></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{totalEntries}}" md-on-paginate="updateMoney" md-page-select></md-table-pagination>


</div>
